amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.23
decorator==4.0.9
Django==1.9.5
geopy==1.11.0
ipdb==0.9.0
ipython==4.1.2
ipython-genutils==0.1.0
kombu==3.0.35
neomodel==2.0.2
nltk==3.2
oauthlib==1.0.3
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.6
ptyprocess==0.5.1
py2neo==2.0.8
pytz==2016.3
requests==2.9.1
requests-oauthlib==0.6.1
scikit-learn==0.17.1
simplegeneric==0.8.1
six==1.10.0
traitlets==4.2.1
tweepy==3.5.0
